.page-landing {
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 110vh;
  background-color: #f0efef;
}

.pc-image {
  width: 80vw;
  align-self: center;
}

.image-about {
  width: 80vw;
  margin-bottom: 3rem;
}

.text-about h1 {
  align-self: center;
  margin-bottom: 3rem;
  text-align: center;
}

.text-about h4 {
  margin-bottom: 3rem;
  text-align: center;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  line-height: 23px;
}

.text-about ul {
  text-align: center;
}

.text-about h3 {
  font-size: 2rem;
  text-align: center;
}

.text-about li {
  display: flex;
  align-items: center;
}

@media (min-width: 1100px) {
  #page-landing {
    align-items: flex-start;
  }

  #page-landing-content-about {
    max-width: 1100px;

    display: flex;
    flex-direction: row;
  }
  .text-about h1 {
    grid-area: about;
  }
  .text-about h4 {
    grid-area: about;
    justify-self: end;
  }

  .text-about h3 {
    grid-area: why;
  }

  .image-about {
    width: 40vw;
    grid-area: img;
    height: 100%;
  }
}
