.page-landing-contact {
  width: 100vw;
  height: 200vh;
  color: #363636;
  background-color: #fff;
  padding: 6rem;
}

.text-contact h1 {
  align-self: center;
  margin-bottom: 3rem;
  text-align: center;
}

.icon-text-div {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-top: 2.5rem;
}

.info-description-title {
  text-align: center;
  font-size: 1.9rem;
  font-weight: normal;
}

.info-description {
  text-align: center;
  font-size: 1.9rem;
  font-weight: normal;
  margin-left: 2.8rem;
}

.info-title {
  margin-top: 3rem;
  text-align: center;
  line-height: 23px;
  font-size: 2.5rem;
  font-weight: normal;
}

.contact-input {
  background: #f5f5f5;
  border-width: 0;
  align-self: center;
  margin-bottom: 1.5rem;
  padding: 1.3rem;
  width: 80vw;
}

.contact-input:focus {
  outline: none;
}

.form-contact {
  align-self: center;
  align-items: center;
}

.form-button-contact {
  background: #6eddb5;
  height: 4rem;
  width: 10rem;
  border-radius: 54rem;
  border-width: 0;
}

.form-button-contact:focus {
  outline: none;
}
