.page-landing-contact {
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 200vh;
  color: #363636;
  background-color: #fff;
  padding: 6rem;
}

.text-contact h1 {
  align-self: center;
  margin-bottom: 3rem;
  text-align: center;
}

.text-contact h4 {
  margin-bottom: 3rem;
  text-align: center;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  line-height: 23px;

  color: #787878;
}

.contact-input {
  background: #f5f5f5;
  border-width: 0;
  align-self: center;
  margin-bottom: 1.5rem;
  padding: 1.3rem;
  width: 80vw;
}

.contact-input:focus {
  outline: none;
}

.form-contact {
  align-self: center;
  align-items: center;
}

.form-button-contact {
  background: #6eddb5;
  height: 4rem;
  width: 10rem;
  border-radius: 54rem;
  border-width: 0;
}

.form-button-contact:focus {
  outline: none;
}
