.page-landing-clients {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200vh;
  color: #363636;
}

.text-clients h1 {
  align-self: center;
  text-align: center;
}

.text-clients h4 {
  text-align: center;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  line-height: 23px;

  color: #787878;
}

@media (min-width: 1100px) {
}
