#page-landing {
  width: 100vw;
  height: 150vh;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #363636;
  background-image: url(../../assets/new/fundo.svg);
  background-size: cover;
}

.logo-container {
  margin-bottom: 3rem;
  text-align: center;
}

.logo-container h1 {
  font-weight: 500;
  font-size: 4rem;
  line-height: 3rem;
}

.logo-container h2 {
  font-weight: bolder;
  font-size: 4rem;
  line-height: 6rem;
  margin-top: 1rem;
}

.logo-container h5 {
  font-size: 2rem;
  line-height: 2.2rem;
  margin-top: 2rem;
}

.button-container {
  display: flex;
  justify-content: center;
}

.start-button {
  width: 24rem;
  height: 7rem;
  border-radius: 0.8rem;
  font: 700 2rem Archivo;

  display: flex;
  align-items: center;
  justify-content: center;

  border-width: 0px;
  background: #fff;
  color: #9ae6ca;
  text-decoration: none;

  transition: background-color 0.2s;
  cursor: pointer;
}

.start-button:hover {
  background: #a9e2cd;
  color: #fff;
}
.start-button:focus {
  outline: none;
}

.itemMenu {
  margin-left: 10px;
  padding: 5px;
  float: right;
  text-decoration: none;
  font-size: 18px;
  line-height: 23px;
  color: #fff;
  margin-right: 10px;
}

.menu-container {
  align-self: flex-start;
}

@media (min-width: 1100px) {
  #page-landing {
    align-items: flex-start;
  }

  #page-landing-content {
    max-width: 1100px;

    display: grid;

    margin-left: 15rem;
    margin-top: 25rem;
  }

  .logo-container {
    grid-area: txt;
    text-align: left;
  }

  .button-container {
    justify-content: flex-start;
  }
}
