.Logo {
  max-width: 189px;
  height: 64px;
  padding: 5px;
}

.fundo {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6eddb5;
}

.image {
  /* background-image: url(./../../assets/page.svg);*/
  width: 100%;
}

.itemMenu {
  padding: 5px;
  float: right;
  margin-top: 20px;
  text-decoration: none;
  font-size: 20px;
  line-height: 23px;
  color: #363636;
  margin-right: 10px;
}

.menu-container {
  align-self: flex-start;
}
